<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Calculadora de Salário</title>
    <script src="../static/js/cleave.min.js"></script>
</head>
<body>
    <div class="form-container">
        <h2>Calculadora de Salário</h2>
        <form id="input-form" action="/calculate" method="POST" target="_blank">
            <div class="form-group">
                <label for="base_salary">Salário Base:</label>
                <input type="text" inputmode="numeric" id="base_salary" name="base_salary" placeholder="BRL 100,00" required>
            </div>
            <div class="form-group">
                <label>Porcentagem de Adiantamento:</label>
                <div class="radio-group">
                    <input type="radio" id="percentage_30" name="percentage_advance" value="30" checked>
                    <label for="percentage_30">30%</label>
                    
                    <input type="radio" id="percentage_40" name="percentage_advance" value="40">
                    <label for="percentage_40">40%</label>

                    <input type="radio" id="percentage_50" name="percentage_advance" value="50">
                    <label for="percentage_50">50%</label>
                </div>
            </div>
            <button type="submit">Calcular</button>
        </form>
    </div>
    <script>
        const baseSalaryInput = document.getElementById('base_salary');

        const cleaveCurrency = new Cleave(baseSalaryInput, {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand',
            numeralDecimalMark: ',', 
            delimiter: '.',          
            rawValueTrimPrefix: true 
        });
    </script>
</body>
</html>